<%= form_for(@diymenu) do |f| %>
  <% if @diymenu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diymenu.errors.count, "error") %> prohibited this diymenu from being saved:</h2>

      <ul>
      <% @diymenu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :public_account_id %><br>
    <%= f.select :public_account_id, PublicAccount.all.collect{|account| [account.name, account.id]}, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%= f.select :parent_id, Diymenu.all.collect{|menu| [menu.name, menu.id]}, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :is_show %><br>
    <%= f.radio_button :is_show, 1 %>显示 <%= f.radio_button :is_show, 0 %>不显示
  </div>
  <div class="field">
    <%= f.label :sort %><br>
    <%= f.number_field :sort %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
